section.fighter
    h2 Fighters' stats
    .fighter__body
        .fighter__stats
            ul.fighter__item.fighter-first
                li Fighter: 
                    span.fighter__name
                li Damage: 
                    span.fighter__damage
                li Strength: 
                    span.fighter__strength
                li Agility: 
                    span.fighter__agility
                li HP: 
                    span.fighter__hp
        .fighter__stats
            ul.fighter__item.fighter-second
                li Fighter: 
                    span.fighter__name
                li Damage: 
                    span.fighter__damage
                li Strength: 
                    span.fighter__strength
                li Agility: 
                    span.fighter__agility
                li HP: 
                    span.fighter__hp